<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lge.theme.template.settings">

    <uses-permission android:name="com.lge.permission.LGE_OVERLAY_THEME_APK" />
    <overlay
        android:priority="11"
        android:targetPackage="com.android.settings" />
    <application android:hasCode="false" />
</manifest>
