<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:d1p1="http://schemas.android.com/apk/res/android" d1p1:versionCode="1" d1p1:versionName="1.0.0" package="com.yourname.themename.wallpaper" platformBuildVersionCode="21" platformBuildVersionName="5.0-1521886">
    <application d1p1:allowBackup="false" d1p1:hasCode="false" d1p1:label="wallpaper"/>
    <uses-permission d1p1:name="com.samsung.android.permission.SAMSUNG_OVERLAY_COMPONENT"/>
</manifest>